<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mercado Liebre Argentina</title>
	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="/css/bootstrap-grid.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>

	<div class="container-fluid">
		<div id="navbar" class="row">
			<img id="logo" class="col-3" src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre">
			<input id="search-bar" class="col-5" type="search" placeholder="Buscar productos, marcas y más"
				aria-label="Search">
			<p id="header">Comprá en cuotas y sin tarjeta de crédito</p>
		</div>
		<div class="row">
			<img id="banner" src="/images/img-home-banner.jpg">
		</div>
		<p class="title">Basado en su última visita</p>
		<div id="products" class="row">
			<div id="prod-detail" class="col-12 col-md-6 col-lg-3">
				<img id="prod-img" src="/images/img-cafetera-moulinex.jpg">
				<div class="info">
					<p id="price">$6.770</p>
					<p id="discount">40% OFF</p>
				</div>
			</div>
			<div id="prod-detail" class="col-12 col-md-6 col-lg-3">
				<img id="prod-img" src="/images/img-macbook-pro-2019.jpg">
				<div class="info">
					<p id="price">$150.970</p>
					<p id="discount">10% OFF</p>
				</div>
			</div>
			<div id="prod-detail" class="col-12 col-md-6 col-lg-3">
				<img id="prod-img" src="/images/img-tv-samsung-smart.jpg">
				<div class="info">
					<p id="price">$54.230</p>
				</div>
			</div>
			<div id="prod-detail" class="col-12 col-md-6 col-lg-3">
				<img id="prod-img" src="/images/img-samsung-galaxy-s10.jpg">
				<div class="info">
					<p id="price">$81.410</p>
					<p id="discount">20% OFF</p>
				</div>
			</div>
		</div>
		<p class="title">Basado en su última visita</p>
		<div id="products" class="row">
			<div id="prod-detail" class="col-12 col-md-6 col-lg-3">
				<img id="prod-img" src="/images/img-cafetera-moulinex.jpg">
				<div class="info">
					<p id="price">$6.770</p>
					<p id="discount">40% OFF</p>
				</div>
			</div>
			<div id="prod-detail" class="col-12 col-md-6 col-lg-3">
				<img id="prod-img" src="/images/img-macbook-pro-2019.jpg">
				<div class="info">
					<p id="price">$150.970</p>
					<p id="discount">10% OFF</p>
				</div>
			</div>
			<div id="prod-detail" class="col-12 col-md-6 col-lg-3">
				<img id="prod-img" src="/images/img-tv-samsung-smart.jpg">
				<div class="info">
					<p id="price">$54.230</p>
				</div>
			</div>
			<div id="prod-detail" class="col-12 col-md-6 col-lg-3">
				<img id="prod-img" src="/images/img-samsung-galaxy-s10.jpg">
				<div class="info">
					<p id="price">$81.410</p>
					<p id="discount">20% OFF</p>
				</div>
			</div>
		</div>
		<div id="footer" class="row">
			<div class="col-12 col-md-12 col-lg-4">
				<h3>Pagá con tarjeta o en efectivo</h3>
				<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
					siempre es seguro!</p>
			</div>
			<div class="col-12 col-md-12 col-lg-4">
				<h3>Envío gratis desde $ 1.999</h3>
				<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
					beneficio de Mercado Puntos.</p>
			</div>
			<div class="col-12 col-md-12 col-lg-4">
				<h3>Seguridad, de principio a fin</h3>
				<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
					protegido.</p>
			</div>
		</div>
		<h6>Copyright © 1999-2019 MercadoLiebre S.R.L.</h6>
	</div>
</body>

</html>